<div class="product__discount">
    <div class="section-title product__discount__title">
        <h2>Sale Off</h2>
    </div>
    <div class="row">
        <div class="product__discount__slider owl-carousel">
            @foreach (var product in Model)
            {
                <div class="col-lg-4">
                    <div class="product__discount__item">
                        <div class="product__discount__item__pic set-bg"
                             data-setbg="@Url.Content("~/uploads/" + product.ProductUrlImageMain)">
                            <div class="product__discount__percent">-@product.ProductDiscount%</div>
                            <ul class="product__item__pic__hover">
@*                                 <li><a href="#"><i class="fa fa-heart"></i></a></li> *@
                                <li><a asp-controller="Cart" asp-action="AddToCart" asp-route-id="@product.ProductId"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="product__discount__item__text">
                            <span>@product.CategoryName</span>
                            <h5><a asp-controller="ProductDetails" asp-action="Details" asp-route-id="@product.ProductId">@product.ProductName</a></h5>
                            <div class="product__item__price">
                                $@product.ProductPrice
                                <span>$@(product.ProductPrice * (100 - product.ProductDiscount) / 100)</span>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
